.flex-container {
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    flex-wrap: wrap;
}

.container-1 {
    background-color: aqua;
}

.container-2 {
    background-color: rgb(35, 83, 83);
}

.container-3 {
   
    background-color: rgb(129, 203, 24);
}

.container-4 {
    background-color: rgb(21, 97, 184);
}

.container-5 {
    background-color: rgb(210, 194, 22);
}

.container-6 {
    background-color: rgb(146, 114, 27);
}
